*.py linguist-detectable=true
*.cpp linguist-detectable=true
*.sql linguist-detectable=true

*.html linguist-detectable=false
*.tex linguist-detectable=false

*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.cls linguist-detectable=false
*.bib linguist-detectable=false


